package ${beanPackage};

import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.runlion.xcs.bean.annotation.LongJsonDeserializer;
import com.runlion.xcs.bean.annotation.LongJsonSerializer;
import lombok.Data;
import lombok.experimental.Accessors;

import org.springframework.format.annotation.DateTimeFormat;

import javax.persistence.Id;
import java.math.BigDecimal;
import java.io.Serializable;
import java.util.Date;

/**
 * ${tableInfo.beanName}
 *
 * @author ${authorName} (;￢＿￢) 
 * @version ${version}
 * @date $date
 **/
@Data
@Accessors(chain = true)
public class ${tableInfo.beanName} implements Serializable {
#foreach($field in ${tableInfo.tableFields})

    #if(${field.needEnum} == "type")
    /**
    * ${field.comment}
    *
    * @see ${enumPackage}.${tableInfo.beanName}${field.upFiled}Enum
    **/
    #elseif(${field.needEnum} == "status")
    /**
    * ${field.comment}
    *
    * @see ${enumPackage}.${tableInfo.beanName}${field.upFiled}Enum
    **/
    #else
    /**
     * ${field.comment}
     **/
    #end
    #if(${field.filed} == "id")
    @Id
    #end
    #if(${field.type} == "Long")
    @JsonSerialize(using = LongJsonSerializer.class)
    @JsonDeserialize(using = LongJsonDeserializer.class)
    #end
    #if(${field.type} == "Date")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    #end
    #if(${field.filed} == "deleted")
    private ${field.type} ${field.property} = 0;
    #end
    #if(${field.filed} != "deleted")
    private ${field.type} ${field.property};
    #end
#end

}
