package ${mapperPackage};

import ${beanPackage}.${tableInfo.beanName};
import ${commonPackage}.service.ScsMapper;

/**
 * ${tableInfo.beanName}Mapper 数据库操作接口类
 *
 * @author ${authorName} (;￢＿￢) 
 * @version ${version}
 * @date $date
 **/
public interface ${tableInfo.beanName}Mapper extends ScsMapper<${tableInfo.beanName}> {


}