package ${servicePackage};

import com.github.pagehelper.PageInfo;
import ${commonPackage}.entity.Pager;
import ${commonPackage}.service.ScsService;
import ${beanPackage}.${tableInfo.beanName};
import ${voPackage}.${tableInfo.beanName}Vo;
import java.util.Map;
import java.util.List;

/**
 * ${tableInfo.beanName}Service   ${tableInfo.tableComment}
 *
 * @author ${authorName} (;￢＿￢) 
 * @version ${version}
 * @date $date
 **/
public interface ${tableInfo.beanName}Service extends ScsService<${tableInfo.beanName}> {

    /**
     * 根据主键查询（已判断 deleted 返回 null）
     *
     * @param id 主键
     * @return ${tableInfo.beanName}
     */
    ${tableInfo.beanName} selectById(Long id);

    /**
    * 插入同一入口
    *
    * @param ${tableInfo.shortBeanName} 对象
    * @return 插入数量
    */
    int insertSelectiveExecute(${tableInfo.beanName} ${tableInfo.shortBeanName});

    /**
    * 更新同一入口
    *
    * @param ${tableInfo.shortBeanName}       对象
    * @param hasSelective 是：执行更新非空字段；否：更新所有字段
    * @return 更新数量
    */
    int updateByIdExecute(${tableInfo.beanName} ${tableInfo.shortBeanName}, boolean hasSelective);
#foreach($method in ${methods})
    #if(${method} == "selectVoByIds")

    /**
    * 根据主键集合查询（返回List<vo>）
    *
    * @param ids 主键集合
    * @return List<${tableInfo.beanName}Vo>
    */
    List<${tableInfo.beanName}Vo> selectVoByIds(List<Long> ids);
    #end
    #if(${method} == "selectVoMapByIds")

    /**
    * 根据主键集合查询（返回Map<id,vo>）
    *
    * @param ids 主键集合
    * @return Map
    */
    Map<Long, ${tableInfo.beanName}Vo> selectVoMapByIds(List<Long> ids);
    #end
    #if(${method} == "list")

    /**
     * 分页查询
     *
     * @param ${tableInfo.shortBeanName}Vo 查询参数
     * @param pager             分页参数
     * @return PageInfo<${tableInfo.beanName}>
     */
    PageInfo<${tableInfo.beanName}Vo> list(${tableInfo.beanName}Vo ${tableInfo.shortBeanName}Vo, Pager pager);
    #end
    #if(${method} == "getInfo")

    /**
     * 详情查询
     *
     * @param id 主键
     * @return ${tableInfo.beanName}Vo
     */
    ${tableInfo.beanName}Vo getInfo(Long id);
    #end
    #if(${method} == "save")

    /**
     * 保存
     *
     * @param ${tableInfo.shortBeanName}Vo 参数
     */
    void save(${tableInfo.beanName}Vo ${tableInfo.shortBeanName}Vo);
    #end
    #if(${method} == "deleted")

    /**
     * 删除操作
     *
     * @param id 主键
     */
    void deleted(Long id);
    #end
#end
}